<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
 
  <% if current_user%>
      <%= hidden_field_tag "profile[email]", current_user.email %>
  <% end %>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <div class="input-prepend input-append">
        <%= f.text_field :start_date, :class => "input-medium" %>
        <span class="add-on">to</span>
        <%= f.text_field :end_date, :class => "input-medium" %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= text_area_tag("profile[comment]", :comment , :rows => "5" ,:class => "input-xxlarge")%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append input-prepend">
        <%= f.text_field :hour, :class => 'text_field input-mini' %>
        <span class="add-on">Hour</span>
        <%= f.text_field :minute, :class => 'text_field input-mini' %>
        <span class="add-on">Minute</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :leave_type, :class => 'control-label' %>
    <div class="controls">
      <label class="radio inline">
        <%= radio_button_tag "profile[leave_type]", "annual", true%>annual
      </label>
      <label class="radio inline">
        <%= radio_button_tag "profile[leave_type]", "personal", false%>personal
      </label>
      <label class="radio inline">
        <%= radio_button_tag "profile[leave_type]", "sick", false%>sick
      </label>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn' %>
  </div>
<% end %>
