<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%= model_class.human_attribute_name(:hour) %></th>
      <th><%= model_class.human_attribute_name(:leave_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
      	<td><%= profile.email %></td>
        <td><%= profile.start_date %></td>
        <td><%= profile.end_date %></td>
        <td><%= profile.comment %></td>
        <td><%= profile.hour %>h<%= profile.minute %>m</td>
        <td><%= profile.leave_type %></td>
        <td>
          
          <div class="float_left">
          <%= button_to 'Approval', profile,  :class => 'btn  btn-danger'%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>