<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <div class="controls text-feild">
    <div class="text-label"><%= label_tag :email %></div>
    <div><%= text_field_tag :email, params[:email] %></div>
  </div>
  <div class="controls text-feild">
    <div class="text-label"><%= label_tag :password %></div>
    <div><%= password_field_tag :password %></div>
  </div>
  <p class="translation_missing"><%= submit_tag "log in"%></p>
<% end %>
