<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.email != "admin@scilearn.com.cn"%>
      <tr>
        
      	<td width="25%"><%= user.email %></td>
        
        <td width="75%">
          <div class="user_setting" style="display:none" id="user_setting_<%= user.id.to_s%>" data-btn= "btn_<%= user.id.to_s%>">
            <%= form_for user, :remote => true, :method => :post ,:url => { :action => "setting", :id=>user.id } , :html => { :class => 'form-inline'} do |f| %>
              <div class="control-group float_left">
                <div class="float_left label-inline"><%= f.label :Employee, :class => 'control-label float_left' %></div>
                <div class="controls float_left">
                  <%= select_tag "user[employee_type]", options_for_select(["common","special"],"common"), :id => "employee_type_" + user.id.to_s, :class=>"employee_type", data:{id:"total_times_" + user.id.to_s}%>
                </div>
             </div>
             <div class="control-group float_left">
                <div class="float_left label-inline"><%= f.label :Total, :class => 'control-label float_left' %></div>
                <div class="controls float_left">
                  <%= f.text_field :total_times, :class => 'text_field input-small' , :id => "total_times_" + user.id.to_s%> H
                </div>
              </div>
              <div class="float_left form-btn">
                <%= submit_tag "Save",:class => "btn btn-primary save-setting", :id => "user_setting" + user.id.to_s, data: {setting:"user_setting_" + user.id.to_s,btn:"btn_" + user.id.to_s}%>
               
                <a href="#" class="btn cancle_setting" data-setting= "user_setting_<%= user.id.to_s%>" data-btn= "btn_<%= user.id.to_s%>">Cancle</a>
               
              </div>
<% end %>
          </div>
          <div class="btn_container" id="btn_<%= user.id.to_s%>">
             <div class="float_left">
              <%= link_to 'Setting', user, :class => "btn btn-primary setting", data: {setting:"user_setting_" + user.id.to_s,btn:"btn_" + user.id.to_s},:remote => true, :id => "setting_" + user.id.to_s%>
            </div>
            <div class="float_left">
               <% if !user.approved %>
                <%= link_to 'Approval', user, :href =>"/users/" + user.id.to_s + "/approval", :action => "approval", :class => "btn  btn-danger approval", :id => "user_" + user.id.to_s , :remote => true%>
                <% else %>
                <i class='icon-ok approved'></i>
             <% end %>
            </div>
          </div>
        </td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>